{% extends "ggtec/base.html" %}
{% load static %}

{% block title %} Sobre mí {% endblock %}
{% block content %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              Sobre mí
            </h2>
            <p>
              Soy Giuliana Godoy, Maestro Mayor de Obras y estudiante de Ingeniería Civil. Me encanta la
              resolución de problemas y esto me llevó al mundo del backend en el desarrollo web, donde combino mi ganas de aprender
              y mi amor por la lógica. Espero seguir aprendiendo de este mundo.<br>
              Fuera de la programación y estudios, disfruto de sumergirme en el mundo de Dungeons & Dragons jugando distintas
              campañas cada vez que puedo, jugar videojuegos y más. ¡Bienvenido a mi web!
            </p>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <img class="rounded float-right img-thumbnail img-fluid" width="400" height="400" src="../../static/ggtec/images/about.jpg" alt=""/>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  
{% endblock %}
