{% extends "ggtec/base.html" %}
{% load static %}

{% block title %} Empresas en Argentina {% endblock %}

{% block content %}

<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6">
          <div class="detail-box">
            <h3>
              Empresas constructoras
            </h3><br>
                <ol>
                    <li>
                        Nocito Constructora: Fundada en Buenos Aires en 1995, Nocito Constructora es una empresa dedicada 
                        a proyectos inmobiliarios. Ofrecen servicios de diseño y ejecución de todo tipo de obras de edificación, 
                        reformas, obras civiles, viales y promoción de viviendas. La compañía cuenta con un equipo de profesionales 
                        en el campo y se destaca por su capacidad para desarrollar obras completas a precios muy competitivos.
                    </li><br>
                    <li>
                        Boa Constructora S.R.L: Esta empresa tiene por actividad principal la construcción edilicia. Cuentan 
                        con un equipo de profesionales en el campo y se dedican a la ejecución de obras civiles y comerciales. Boa 
                        Constructora se destaca por su compromiso con la calidad y la eficiencia en la ejecución de proyectos.
                    </li><br>
                    <li>
                        Constructora Santiago: Esta empresa constructora de obras civiles y comerciales cuenta con más de 30 años 
                        de experiencia en el campo. Se dedican a la ejecución de obras de construcción y reformas, y ofrecen servicios 
                        de diseño y planificación de proyectos.
                    </li><br>
                    <li>
                        Jisa Constructora: Esta empresa tiene como objetivo desarrollar proyectos sustentables que agreguen valor a 
                        la vida de las familias. Se dedican a la construcción de viviendas y ofrecen servicios de diseño y planificación 
                        de proyectos. Jisa Constructora se destaca por su compromiso con la calidad y la eficiencia en la ejecución de proyectos.
                    </li><br>
                    <li>
                        Ideas del Sur construcciones: Esta empresa se dedica a la remodelación de viviendas y cuenta con cobertura en todo el 
                        país. Ofrecen servicios de construcción y remodelación de interiores y exteriores. 
                    </li><br>
                    <li>
                        Ideas del Sur construcciones: Esta empresa se dedica a la remodelación de viviendas y cuenta con cobertura en todo el 
                        país. Ofrecen servicios de construcción y remodelación de interiores y exteriores. 
                    </li><br>
                    <li>
                        HG electricidad industrial: Esta empresa se dedica a la fabricación de tableros eléctricos y a la automatización de procesos 
                        industriales. Ofrecen servicios de mantenimiento y reparación de equipos eléctricos y electrónicos 
                    </li><br>
                    <li>
                        Servicios DM: Esta empresa ofrece servicios de electricidad, gas y plomería para hogares y empresas. Se dedican a la instalación 
                        y reparación de sistemas eléctricos, así como a la instalación de iluminación y sistemas de seguridad. 
                    </li><br>
                    <li>
                        Carpintería Eléctrica: Esta empresa se dedica a la fabricación de muebles a medida y carpintería en general. Ofrecen servicios de diseño
                         y fabricación de muebles para hogares y empresas. 
                    </li><br>

                    
                </ol>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
