{% extends "ggtec/base.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}
{% block content %}

  <!-- slider section -->
  <section class="slider_section ">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <h1>
              Encuentra <br>
              servicios técnicos <br>
              de calidad en nuestra web
            </h1>
            <p>
              Bienvenido a GGTec, tu plataforma confiable para reseñas y
              calificaciones de servicios técnicos. Encuentra lo que necesitas para tu proyecto aquí.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../static/ggtec/images/slider-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<br>
<!-- about section -->

<section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="detail-box">
          <h2>
            Sobre nosotros
          </h2>
          <p>
            Aquí, los usuarios comparten sus experiencias
            y evalúan a empresas y profesionales en campos como construcción, plomería,
            electricidad y más. Nuestra comunidad colaborativa te brinda información valiosa para
            tomar decisiones informadas y garantizar que tus proyectos se entreguen con la más alta calidad.
            Además, podrás encontrar un apartado de las empresas de construcción, electricidad y otros servicios
            más reconocidas en Argentina!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

{% endblock %}
